@import "./base.css";

body {
  font-family: "Roboto", "-apple-system", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  display: flex;
  margin: 0px;
}
#app {
  width: 100%;
  height: 100%;
}
/* Extra small devices (phones, less than 576px) */
@media (max-width: 575.98px) {
  /* Visibility Classes */
  .hidden-xs {
    display: none !important;
  }
  .visible-xs {
    display: block !important;
  }

  /* Display and Visibility */
  .hidden-xs-up {
    display: none !important;
  }
  .hidden-xs-down {
    display: block !important;
  }

  .stats-card {
    flex-direction: column;
  }
  .stats-card .col {
    margin-bottom: 10px;
  }

  .chart-card {
    flex-direction: column;
  }
  .table-container {
    flex-direction: column;
    max-width: 55%;
  }
}

/* Small devices (tablets, 576px and up) */
@media (max-width: 767.98px) {
  /* Visibility Classes */
  .hidden-sm {
    display: none !important;
  }
  .visible-sm {
    display: block !important;
  }

  .app-header {
    width: 100%;
  }
  .stats-card {
    flex-direction: column;
  }
  .stats-card .col {
    margin-bottom: 10px;
  }
  .chart-card {
    flex-direction: column;
  }
  .table-container {
    flex-direction: column;
    max-width: 55%;
  }
}

/* Medium devices (desktops, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .app-header {
    width: 100% !important;
  }
  .stats-card {
    flex-direction: column;
  }
  .stats-card .col {
    margin-bottom: 10px;
  }
  .chart-card {
    flex-direction: column;
  }
}

/* Large devices (large desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/* Extra large devices (extra large desktops, 1024px and up) */
@media (min-width: 1024px) {
  .hidden-lg {
    display: none !important;
  }
  .visible-lg {
    display: block !important;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
}

/* Width Classes */
.w-full {
  width: 100%;
}

/* Flex container class */
.flex {
  display: flex;
}

/* Justify content */
.justify-start {
  justify-content: flex-start; /* Items are packed toward the start of the flex container */
}

.justify-end {
  justify-content: flex-end; /* Items are packed toward the end of the flex container */
}

.justify-center {
  justify-content: center; /* Items are centered along the main axis */
}

.justify-space-between {
  justify-content: space-between; /* Items are evenly distributed with the first item at the start and the last item at the end */
}

.justify-space-around {
  justify-content: space-around; /* Items are evenly distributed with equal space around them */
}

/* Align items */
.align-start {
  align-items: flex-start; /* Items are aligned to the start of the cross axis */
}

.align-end {
  align-items: flex-end; /* Items are aligned to the end of the cross axis */
}

.align-center {
  align-items: center; /* Items are centered along the cross axis */
}

.align-baseline {
  align-items: baseline; /* Items are aligned so that their baselines align */
}

.align-stretch {
  align-items: stretch; /* Items are stretched to fill the container */
}

/* Margin Classes */
.mr-20 {
  margin-right: 20px;
}

.mt-20 {
  margin-top: 20px;
}
.mt-40 {
  margin-top: 40px;
}
.mt-50 {
  margin-top: 50px;
}
.mt-60 {
  margin-top: 60px;
}
.mx-10 {
  margin-left: 10px;
  margin-right: 10px;
}
.mx-20 {
  margin-left: 20px;
  margin-right: 20px;
}
.my-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Padding Classes */
.p-10 {
  padding: 10px;
}
.p-20 {
  padding: 20px;
}

/* Overflow Classes */
.overflow-hidden {
  overflow: hidden;
}

/* Wrapping */
.flex-wrap {
  flex-wrap: wrap; /* Flex items wrap onto multiple lines if needed */
}

.flex-no-wrap {
  flex-wrap: nowrap; /* Flex items will not wrap; they will overflow the container if necessary */
}

/* Row and Column */
.flex-row {
  flex-direction: row; /* Items are placed in a row (the default) */
}

.flex-column {
  flex-direction: column; /* Items are placed in a column */
}

/* Column Reverse */
.flex-column-reverse {
  flex-direction: column-reverse; /* Items are placed in a column, but reversed */
}

.flex-container {
  display: flex;
  align-items: stretch;
  flex-direction: row;
}
